@model IEnumerable<GoogleEngine.Models.Result>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObjectResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SearchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SearchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SearchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
